@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


* { transition: all .2s ease-in-out; }

header::after { 
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #726c5e84;
}
header .orange { z-index: 1;}


.line {
    height: 80%;
    margin: 0 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.oneforth-img {
    width: 50vw;
    height: 60%;
    background-size: cover;

    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
    .oneforth-img:hover {
        transform: translateY(-25px) scale(1.02);
        box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
    }

    
.oneforth-img1 { background-image: url('images/desktop/image-gallery-milkbottles.jpg'); }
.oneforth-img2 { background-image: url('images/desktop/image-gallery-orange.jpg'); }
.oneforth-img3 { background-image: url('images/desktop/image-gallery-cone.jpg'); }
.oneforth-img4 { background-image: url('images/desktop/image-gallery-sugarcubes.jpg'); }





@media (max-width: 375px) {
    .line {
        height: 120%;
        flex-direction: column;
        margin: 50px 0;
    }

    .oneforth-img1 { background-image: url('images/mobile/image-gallery-milkbottles.jpg'); }
    .oneforth-img2 { background-image: url('images/mobile/image-gallery-orange.jpg'); }
    .oneforth-img3 { background-image: url('images/mobile/image-gallery-cone.jpg'); }
    .oneforth-img4 { background-image: url('images/mobile/image-gallery-sugar-cubes.jpg'); }
}
